<div class="achievements">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Projekti</p>
      <p class="work-text">Radila sam na nekoliko projekata tokom fakulteta od kojih su najzanimljiviji Projektovanje baze podataka jednog inf. sistema
         i Mobilna aplikacija za recepte.</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Veštine</p>
      <p class="work-text">Neke od mojih veština su programiranje, ogranizovanost, posvećenost i timski duh.</p>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-text">
      <h2>O meni</h2>
      <p>Zovem se Milica Popović, student sam 3. godine na FTN-u u Novom Sadu, smer Inženjerstvo Informacionih sistema. 
        U slobodno vreme volim da treniram, vozim bicikli, provodim vreme u prirodi, isprobavam nove recepte, šetam se i 
        družim se sa prijateljima. 
      </p>
    </div>
    <img src="../../../../assets/images/Ja.JPG" alt="me">
  </div>