@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #4dcddb;
  border-radius: 50%;
  border: 2px solid #4dcddb;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #4dcddb;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #ecececaa;
  margin: 10px 0;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #4dcddb;
}

.about-me img {
  width: 450px;
  max-width: 100%;
  height: 450px;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #4dcddb;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #ecececaa;
  margin: 10px 0;
}
