<div class="achievements">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Lige</p>
      <p class="work-text">Aplikacija nudi mogućnost dodavanja novih ligi, modifikaciju i brisanje postojećih.</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Nacionalnosti</p>
      <p class="work-text">Aplikacija nudi mogućnost dodavanja novih nacionalnosti, modifikaciju i brisanje postojećih.</p>
    </div>
    <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Igrači</p>
        <p class="work-text">Aplikacija nudi mogućnost dodavanja novih igrača, modifikaciju i brisanje postojećih.</p>
      </div>
    <div class="work">
    <i class="fas fa-skiing"></i>
    <p class="work-heading">Timovi</p>
    <p class="work-text">Aplikacija nudi mogućnost dodavanja novih timova, modifikaciju i brisanje postojećih.</p>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-text">
      <h2>O aplikaciji</h2>
      <p>Aplikacija nudi mogućnost evidencije fudbalskih timova, ligi, igrača i njihovih nacionalnosti. 
        Sastoji se od tri dela - baze podataka, backend-a i frontend-a. Korišćena je PostgreSQL baza podataka,
        dok je backend urađen pomoću Spring-a a frontend pomoću Angular-a.
      </p>
    </div>
    <img src="../../../../assets/images/ONama.jpg" alt="me">
  </div>